{% paginate blog.articles by 14 %}

    <div class="page page--blog animated-pages" data-section-type="blog" data-section-id="blog">
    <div class="container">
        <div class="page__header ">
            {% include 'breadcrumbs' %}
        </div>
        {% section 'blog' %}
        <div class="page__content blog-list">
            <div class="row blog-list__row ">
                {% for article in blog.articles %}
                {% if forloop.index0 == 7 %}
            </div>
            </div>
            </div>
            <div class="row blog-list__row">
                {% endif %}
                {% if forloop.index0 == 1 or forloop.index0 == 8 %}
                <div class="col-12 col-md-6 ">
                    <div class="row blog-list__row-inner">

                {% endif %}
                {% if forloop.index0 == 0  or  forloop.index0 == 7 %}
                <div class=" blog-list__item col-12   col-md-6  blog-list__item--highlighted blog-list__item--{{ forloop.index0 }} is-sticky ">
                    <div class="post-card--{{ forloop.index0 }}">
                    <div class="post-card   post-card--highlighted ">
                        {% else %}
                        <div class="post-card   post-card blog-list__item col-6 col-lg-6">
                            {% endif %}
                            {% if article.image %}
                                {% assign image = article.image %}

                                <a class="post-card__image-wrapper lazyload" href="{{ article.url }}"
                                    data-bgset="{% include 'bgset', image: image %}"
                                    data-sizes="auto"
                                    data-parent-fit="cover"
                                    style="background-image: url({{ image  | img_url: '750x960' }});">
                                </a>
                            {% endif %}
                            <h2 class="post-card__title"><a href="{{ article.url }}">{{ article.title }}</a></h2>
                            {% for tag in article.tags %}
                                {% assign stringToCheck = tag %}
                                {% assign startsWith =  'category-' %}
                                {% assign checkArray = stringToCheck | split:startsWith %}
                                {% if checkArray[0] == blank %}
                                    {% assign title = tag | replace: 'category-','' %}
                                    <div class="post-card__category">
                                        <a href="{{ blog.url }}/tagged/{{ tag | handle }}"> {{ title }}</a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <div class="post-card__content">
                                {% if article.excerpt.size > 0 %}
                                    {{ article.excerpt }}
                                {% else %}
                                    <p>{{ article.content | strip_html | truncatewords: 20 }}</p>
                                {% endif %}
                            </div>
                        </div>
                        {% if forloop.index0 == 0  or  forloop.index0 == 7 %}
                    </div>
                    </div>
                    {% endif %}
                    {% if forloop.index0 > 0 and forloop.last %}
                    </div>
                    </div>

                        {% endif %}
                    {% endfor %}
                </div>

                {% if paginate.pages > 1 %}
                    <div class="pagination">
                        {{ paginate | default_pagination }}
                    </div>

                {% endif %}
            </div>
        </div>
    </div>
{% endpaginate %}