<div class="product-template__container"
     >
    <div class="product-single">
        <div class="container">
            <div class="page__header  ">
                {% include 'breadcrumbs' %}


            </div>
            {% section 'product_template' %}

        </div>
        {% include "product-single-information" %}
        {% section "vendors" %}

        {% include "related-products" %}
    </div>

    {% include 'product-json' %}
</div>

{% if product.tags contains 'multi-image' %}
<script>
  $(document).ready(function(){
    
    var docHeight = $(document).height();
    var vendorDivHeight = $('#vendor-vendors .row').height();
    
    var pTitle = "{{product.title}}";
    var mainImage = $('.js--product-single__slider-modal');
    var mobImage = $('.js--product-single__slider');
    var thumbImage = $('.vendor-block__col');
  var vendorText = $('.vendor-text').html();
    
    var images = [];    
    
    {% for image in product.images %}
      images.push({url: "{{ image | product_img_url: 'small' }}", alt: "{{ image.alt }}"});
  {% endfor %}
    
  $('.product-form__item.has-color select').change(function() {
        var selected_option = $(this).val();
        var selected_vid = $(this).parents('.product-form__item.has-color').siblings('.product-form__variants').val(); 
        var selected_vimg = $(this).parents('.product-form__item.has-color').siblings('.product-form__variants').find('option[value="'+selected_vid+'"]').attr('data-vimg');
                     
        var arr = [];                     
                     
    var item = $.grep(images, function(item) {
            return item.alt == selected_option;
        });   
    
    mainImage.empty();
    mobImage.empty();
    
    mainImage.removeClass("slick-initialized slick-slider");
    mobImage.removeClass("slick-initialized slick-slider");
    
    thumbImage.empty();
    thumbImage.remove();                    
                     
    if(item.length > 0){
      if(vendorText != undefined){
        var vandorblock = '<div class="col-12 col-lg-6 vendor-text">'+vendorText+'</div>';  
      }
      else{
        var vandorblock = '';  
      }
    
    var addImage = $.each( images, function( i, image ) {
          var alt = images[i].alt, url = images[i].url;         
          if (alt == selected_option || alt == pTitle) {
              var oneSlide = '<div class="product-single__photo-wrapper-modal "><div class="product-single__photo">';
                oneSlide += '<img class="product-single__image product-featured-img lazyload" src="' + url.replace('_small', '_1024x') + '" alt="' + alt + '" data-aspectratio="1.1981132075471699" data-sizes="auto" data-src="'+url.replace('_small', '_1024x')+'" >';
                    oneSlide += '</div></div>';
            
              var mobSlide = '<div class="product-single__photo-wrapper" data-product-slider-image-wrapper data-image-id="" data-image-option="" alt=' + alt + '" data-index="' + i + '">';
                mobSlide += '<div class="product-single__photo  full--sized lazyload" data-bgset="'+url.replace('_small', '_1024x')+' 180w 150h, '+url.replace('_small', '_1024x')+' 360w 300h, '+url.replace('_small', '_1024x')+' 508w 424h," data-sizes="auto" data-parent-fit="cover" style="background-image: url('+url.replace('_small', '_1024x')+');"></div>';
                mobSlide += '</div>';
            
                  mainImage.append(oneSlide);
                mobImage.append(mobSlide);
            
          if (url != selected_vimg) {  
                    vandorblock += '<div class="col-12 col-lg-6 vendor-block__col vendor-block__col--image animated-block animated-block--visible"><div class="vendor-block__image-wrapper">';
          vandorblock += '<div class="vendor-block__image full--sized lazyload" data-bgset="'+url.replace('_small', '_1024x')+' 180w 174h, '+url.replace('_small', '_1024x')+' 360w 348h, '+url.replace('_small', '_1024x')+' 492w 476h" data-sizes="auto" data-parent-fit="cover" style="background-image: url('+url.replace('_small', '_1024x')+');"></div>'; 
                    vandorblock += '</div></div>'; 
                  }                     
          }
      });
      
      $('#vendor-vendors .row').html(vandorblock);
      $('.vendor-text .animated-block').addClass('animated-block--visible');
      
      arr.push(addImage);
      $.when.apply($, arr).done(function () {
        $('.js--product-single__slider').slick({
          arrows: false,
          slidesToShow: 1,
          slidesToScroll: 1,
          dots: true
        });
      });      
      
    }else{
      var vandorblock = '<div class="col-12 col-lg-6"><h2 class="vendor-block__title animated-block animated-block--visible" style="transform: none;">Outerknown</h2><div class="vendor-block__content animated-block rte animated-block--visible" style="transform: none;"><p>Outerknown is a sustainable clothing brand established from an understated approach to design and an overstated approach to quality, material and consciousness.</p></div></div>';                     
                     
      var addImage = $.each( images, function( i, image ) {
          var alt = images[i].alt, url = images[i].url;                   
          var oneSlide = '<div class="product-single__photo-wrapper-modal "><div class="product-single__photo">';
            oneSlide += '<img class="product-single__image product-featured-img lazyload" src="' + url.replace('_small', '_1024x') + '" alt="' + alt + '" data-aspectratio="1.1981132075471699" data-sizes="auto" data-src="'+url.replace('_small', '_1024x')+'" >' 
            oneSlide += '</div></div>';   
          var mobSlide = '<div class="product-single__photo-wrapper" data-product-slider-image-wrapper data-image-id="" data-image-option="" alt="' + alt + '" data-index="' + i + '">';
            mobSlide += '<div class="product-single__photo  full--sized lazyload" data-bgset="'+url.replace('_small', '_1024x')+' 180w 150h, '+url.replace('_small', '_1024x')+' 360w 300h, '+url.replace('_small', '_1024x')+' 508w 424h," data-sizes="auto" data-parent-fit="cover" style="background-image: url('+url.replace('_small', '_1024x')+');"></div>';
            mobSlide += '</div>';
                
            mainImage.append(oneSlide);
          mobImage.append(mobSlide);
      });  
      $('#vendor-vendors .row').html(vandorblock);
      
      arr.push(addImage);
      $.when.apply($, arr).done(function () {
        $('.js--product-single__slider').slick({
          arrows: false,
          slidesToShow: 1,
          slidesToScroll: 1,
          dots: true
        });
      });  
    }
        
    
    var newDocheight = docHeight - vendorDivHeight;
   
    var updatedVen = newDocheight + $('#vendor-vendors .row').height();
    
//     $('.page-view.template-product').css('height',updatedVen+'px');
    
  });
  

  });
</script>
{% endif %}


<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": "{{ product.title | escape }}",
  "url": "{{ shop.url }}{{ product.url }}",
  {% if product.featured_image %}
    {% assign image_size = product.featured_image.width | append: 'x' %}
    "image": [
      "https:{{ product.featured_image.src | img_url: image_size }}"
    ],
  {% endif %}
  "description": "{{ product.description | strip_html | escape }}",
  {% if current_variant.sku != blank %}
    "sku": "{{ current_variant.sku }}",
  {% endif %}
  "brand": {
    "@type": "Thing",
    "name": "{{ product.vendor | escape }}"
  },
  {% if product.variants %}
    "offers": [
      {% for variant in product.variants %}
        {
          "@type" : "Offer",
          "availability" : "http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}",
          "price" : "{{ variant.price | divided_by: 100.00 }}",
          "priceCurrency" : "{{ shop.currency }}",
          "url" : "{{ shop.url }}{{ variant.url }}",
          "itemOffered" :
          {
              "@type" : "Product",
              {% if variant.image %}
    {% assign variant_image_size = variant.image.width | append: 'x' %}
                "image": "http:{{ variant.image.src | img_url: variant_image_size }}",
              {% endif %}
    {% if variant.title != blank %}
                "name" : "{{ variant.title | escape }}",
              {% endif %}
    {% if variant.sku != blank %}
                "sku": "{{ variant.sku }}",
              {% endif %}
    {% if variant.weight != blank %}
                "weight": {
                  "@type": "QuantitativeValue",
                  {% if variant.weight_unit != blank %}
                    "unitCode": "{{ variant.weight_unit }}",
                  {% endif %}
                  "value": "{{ variant.weight | weight_with_unit: variant.weight_unit }}"
                },
              {% endif %}
              "url": "{{ shop.url }}{{ variant.url }}"
          }
        }{% unless forloop.last %},{% endunless %}
    {% endfor %}
    ]
  {% endif %}
}

</script>



