{% assign hasInfomation = false %}
{% for tag in product.tags %}
    {% assign stringToCheck = tag %}
    {% assign startsWith =  'material-' %}
    {% assign checkArray = stringToCheck | split:startsWith %}
    {% if checkArray[0] == blank %}
        {% assign hasInfomation = true %}
    {% endif %}
    {% assign stringToCheck = tag %}
    {% assign startsWith =  'origin-' %}
    {% assign checkArray = stringToCheck | split:startsWith %}
    {% if checkArray[0] == blank %}
        {% assign hasInfomation = true %}
    {% endif %}
    {% assign stringToCheck = tag %}
    {% assign startsWith =  'weight-' %}
    {% assign checkArray = stringToCheck | split:startsWith %}
    {% if checkArray[0] == blank %}
        {% assign hasInfomation = true %}
    {% endif %}
    {% assign stringToCheck = tag %}
    {% assign startsWith =  'collection-' %}
    {% assign checkArray = stringToCheck | split:startsWith %}
    {% if checkArray[0] == blank %}
        {% assign hasInfomation = true %}
    {% endif %}
    {% assign stringToCheck = tag %}
    {% assign startsWith =  'fit-' %}
    {% assign checkArray = stringToCheck | split:startsWith %}
    {% if checkArray[0] == blank %}
        {% assign hasInfomation = true %}
    {% endif %}
{% endfor %}
{% if hasInfomation == true %}
    <div class="product-single__information" id="specification">
        <div class="container">
            <div class="row">

                {% assign hasInfomation = false %}
                {% capture info %}
                    {% for tag in product.tags %}
                        {% assign stringToCheck = tag %}
                        {% assign startsWith =  'material-' %}
                        {% assign checkArray = stringToCheck | split:startsWith %}
                        {% if checkArray[0] == blank %}
                            {% assign title = tag | replace: 'material-','' %}
                            {% assign hasInfomation = true %}

                            <div class="information-block">
                                <h3 class="information-block__title">{{ 'products.product.material' | t }}</h3>
                                <p class="information-block__content">{{ title }}</p>
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% for tag in product.tags %}
                        {% assign stringToCheck = tag %}
                        {% assign startsWith =  'collection-' %}
                        {% assign checkArray = stringToCheck | split:startsWith %}
                        {% if checkArray[0] == blank %}
                            {% assign title = tag | replace: 'collection-','' %}
                            {% assign hasInfomation = true %}
                            <div class="information-block">
                                <h3 class="information-block__title">{{ 'products.product.collection' | t }}</h3>
                                <p class="information-block__content">{{ title }}</p>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endcapture %}
                {% if hasInfomation == true %}
                    <div class="col-12 col-md-4">
                        <div class="information-block__wrapper">{{ info }}</div>
                    </div>
                {% endif %}
                {% assign hasInfomation = false %}
                {% capture info %}
                    {% for tag in product.tags %}
                        {% assign stringToCheck = tag %}
                        {% assign startsWith =  'origin-' %}
                        {% assign checkArray = stringToCheck | split:startsWith %}
                        {% if checkArray[0] == blank %}
                            {% assign title = tag | replace: 'origin-','' %}

                            {% assign hasInfomation = true %}
                            <div class="information-block">
                                <h3 class="information-block__title">{{ 'products.product.made_in' | t }}</h3>
                                <p class="information-block__content">{{ title }}</p>

                            </div>
                        {% endif %}
                    {% endfor %}
                    {% for tag in product.tags %}
                        {% assign stringToCheck = tag %}
                        {% assign startsWith =  'fit-' %}
                        {% assign checkArray = stringToCheck | split:startsWith %}
                        {% if checkArray[0] == blank %}
                            {% assign title = tag | replace: 'fit-','' %}

                            {% assign hasInfomation = true %}
                            <div class="information-block">
                                <h3 class="information-block__title">{{ 'products.product.fit' | t }}</h3>
                                <p class="information-block_content">{{ title }}</p>

                            </div>
                        {% endif %}
                    {% endfor %}
                {% endcapture %}
                {% if hasInfomation == true %}
                    <div class="col-12 col-md-4">
                        <div class="information-block__wrapper">{{ info }}</div>
                    </div>
                {% endif %}
                {% assign hasInfomation = false %}
                {% capture info %}
                    {% for tag in product.tags %}
                        {% assign stringToCheck = tag %}
                        {% assign startsWith =  'weight-' %}
                        {% assign checkArray = stringToCheck | split:startsWith %}
                        {% if checkArray[0] == blank %}
                            {% assign title = tag | replace: 'weight-','' %}

                            {% assign hasInfomation = true %}
                            <div class="information-block information-block--weight">
                                <h3 class="information-block__title">{{ 'products.product.weight' | t }}</h3>
                                <p class="information-block__content">{{ title }}</p>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endcapture %}
                {% if hasInfomation == true %}
                    <div class="col-12 col-md-4">
                        <div class="information-block__wrapper">{{ info }}</div>
                    </div>
                {% endif %}


            </div>
        </div>
    </div>
{% endif %}