{% schema %}
    {
    "name": {
    "en": "Navigation"
    },
    "settings": [

    {
    "type": "text",
    "id": "nav_1_title",
    "label": {
    "en": " First block title"
    },
    "default":"ABOUT"
    },
    {
    "type": "image_picker",
    "id": "nav_1_img",
    "label": {
    "en": " First block image"
    }
    },
    {
    "type": "image_picker",
    "id": "nav_1_img_hover",
    "label": {
    "en": " First block hover image"
    }
    },
    {
    "type": "text",
    "id": "nav_2_title",
    "label": {
    "en": " Second block title"
    },
    "default":"MISSION"
    },
    {
    "type": "image_picker",
    "id": "nav_2_img",
    "label": {
    "en": " Second block image"
    }
    },
    {
    "type": "image_picker",
    "id": "nav_2_img_hover",
    "label": {
    "en": " Second block hover image"
    }
    },
    {
    "type": "text",
    "id": "nav_3_title",
    "label": {
    "en": " Third block title"
    },
    "default":"LOCATION"
    },
    {
    "type": "image_picker",
    "id": "nav_3_img",
    "label": {
    "en": " Third block image"
    }
    },
    {
    "type": "image_picker",
    "id": "nav_3_img_hover",
    "label": {
    "en": " Third block hover image"
    }
    }
    ]
    }
{% endschema %}

<div id="about-navigation" class="about-section about-section--navigation" data-section-type="about-navigation"
     data-section-id="{{ section.id }}">
    <div class="about-section__bg">
        <div class="container about-section__container">
            <div class="about-navigation">
                <div class="about-navigation__icon">
                    {% include 'icon-dots' %}
                </div>
                <a href="#about" class="about-navigation__item js-go-to ui-paralax"   data-speed="-0.08" data-multiply="1" data-end="parent" data-start="-200">
                    <div class="about-navigation__image-wrapper ">
                        {% if section.settings.nav_1_img %}
                            <div
                                    class="about-navigation__image about-navigation__image--1 lazyload"
                                    data-bgset="{% include 'bgset', image: section.settings.nav_1_img %}"
                                    data-sizes="auto"
                                    data-parent-fit="cover"
                                    style="background-image: url({{ section.settings.nav_1_img | img_url: '500x' }});"></div>
                        {% endif %}
                        {% if section.settings.nav_1_img_hover %}
                            <div
                                    class="about-navigation__image  about-navigation__image--1 lazyload about-navigation__image--hover"
                                    data-bgset="{% include 'bgset', image: section.settings.nav_1_img_hover %}"
                                    data-sizes="auto"
                                    data-parent-fit="cover"
                                    style="background-image: url({{ section.settings.nav_1_img_hover | img_url: '500x' }});"></div>
                        {% endif %}
                    </div>
                    {% if section.settings.nav_1_title != '' %}
                        <h2 class="about-navigation__title">
                            {{ section.settings.nav_1_title }}
                        </h2>
                    {% endif %}
                </a>
                <a href="#mission" class="about-navigation__item  js-go-to ui-paralax"  data-end="parent"  data-speed="-0.02" data-multiply="2" data-start="-50">
                    <div class="about-navigation__image-wrapper">
                        {% if section.settings.nav_2_img %}
                            <div
                                    class="about-navigation__image  about-navigation__image--2 lazyload"
                                    data-bgset="{% include 'bgset', image: section.settings.nav_2_img %}"
                                    data-sizes="auto"
                                    data-parent-fit="cover"
                                    style="background-image: url({{ section.settings.nav_2_img | img_url: '500x' }});"></div>
                        {% endif %}
                        {% if section.settings.nav_2_img_hover %}
                            <div
                                    class="about-navigation__image   about-navigation__image--2 lazyload about-navigation__image--hover"
                                    data-bgset="{% include 'bgset', image: section.settings.nav_2_img_hover %}"
                                    data-sizes="auto"
                                    data-parent-fit="cover"
                                    style="background-image: url({{ section.settings.nav_2_img_hover | img_url: '500x' }});"></div>
                        {% endif %}
                    </div>
                    {% if section.settings.nav_2_title != '' %}
                        <h2 class="about-navigation__title">
                            {{ section.settings.nav_2_title }}
                        </h2>
                    {% endif %}
                </a>
                <a href="#location" class="about-navigation__item  js-go-to ui-paralax"  data-speed="-0.06" data-multiply="2" data-end="100" data-start="-300">
                    <div class="about-navigation__image-wrapper">
                        {% if section.settings.nav_3_img %}
                            <div
                                    class="about-navigation__image  about-navigation__image--3 lazyload"
                                    data-bgset="{% include 'bgset', image: section.settings.nav_3_img %}"
                                    data-sizes="auto"
                                    data-parent-fit="cover"
                                    style="background-image: url({{ section.settings.nav_3_img | img_url: '500x' }});"></div>
                        {% endif %}
                        {% if section.settings.nav_3_img_hover %}
                            <div
                                    class="about-navigation__image  about-navigation__image--3 lazyload about-navigation__image--hover"
                                    data-bgset="{% include 'bgset', image: section.settings.nav_3_img_hover %}"
                                    data-sizes="auto"
                                    data-parent-fit="cover"
                                    style="background-image: url({{ section.settings.nav_3_img_hover | img_url: '500x' }});"></div>
                        {% endif %}
                    </div>
                    {% if section.settings.nav_3_title != '' %}
                        <h2 class="about-navigation__title">
                            {{ section.settings.nav_3_title }}
                        </h2>
                    {% endif %}
                </a>
            </div>
        </div>
    </div>
</div>
