{%- assign social_icons = false -%}

{%- if
    settings.social_facebook_link != blank
    or settings.social_instagram_link != blank -%}
    {%- assign social_icons = true -%}
{%- endif -%}


<footer class="footer" role="contentinfo">
    <div class="container">
        {% if section.settings.show_newsletter or section.settings.show_coordinates %}
            <div class="footer__col">
                {% if section.settings.show_newsletter %}
                    <div class="footer__block footer__block--newsletter block-newsletter">
                        {{ section.settings.newsletter_title }}
                        {% if section.settings.newsletter_btn != blank %}
                            <button data-toggle="modal" data-target="#newsletter" type="button"
                                    class="btn btn--large btn--outline-light">{{ section.settings.newsletter_btn }}</button>
                        {% endif %}


                        <!-- Modal -->
                        <div class="modal fade modal--newsletter newsletter" id="newsletter" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">

                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        </button>
                                    </div>
                                    <div class="modal-content-wrapper">
                                        <div class="modal-bg lazyload"
                                                {% if section.settings.show_newsletter_image %}
                                            data-bgset="{% include 'bgset', image: section.settings.newsletter_image %}"
                                            data-sizes="auto"
                                            data-parent-fit="cover"
                                            style="background-image: url('{{ section.settings.newsletter_image  | img_url: 'master' }});"
                                                {% endif %}>
                                        </div>
                                        <div class="modal-body">
                                            <form action="https://thisisneonwave.us17.list-manage.com/subscribe/post-json?u=3be44795906ae5215df909e73&amp;id=694618b472&c=?"
                                                  method="get" id="mc-embedded-subscribe-form"
                                                  name="mc-embedded-subscribe-form"
                                                  class="o-subscribe-form c-form">
                                                {% if section.settings.newsletter_modal_title!='' %}
                                                    <h2 class="newsletter__title">
                                                        {{ section.settings.newsletter_modal_title }}
                                                    </h2>
                                                {% endif %}
                                                {% if section.settings.newsletter_modal_text!='' %}
                                                    <div class="newsletter__text">
                                                        {{ section.settings.newsletter_modal_text }}

                                                    </div>
                                                {% endif %}


                                                <div id="form-responses" class="form__text form__message"></div>
                                                <div class="form__row">
                                                    <input type="email" value="" name="EMAIL"
                                                           class="form__field form__field--transparent"
                                                           placeholder="{{ 'general.singup.email' | t }}"
                                                           id="mce-EMAIL" required>
                                                </div>
                                                <div class="form__row">
                                                    <input type="text" value="" name="FNAME"
                                                           class="form__field form__field--transparent"
                                                           placeholder="{{ 'general.singup.first_name' | t }}"
                                                           id="mce-FNAME" required>
                                                </div>
                                                <div class="form__row">
                                                    <input type="text" value="" name="LNAME"
                                                           class="form__field form__field--transparent"
                                                           placeholder="{{ 'general.singup.last_name' | t }}"
                                                           id="mce-LNAME">
                                                </div>
                                                <div class="form__row">

                                                    <div class="form__datefield js-form-datefield">
                                                        <span class="form__placeholder">{{ 'general.singup.birthday' | t }}<small>(MM/DD/YYYY)</small></span>
                                                        <input
                                                                class="form__field form__field--transparent js-date" type="text">
                                                      <input
                                                                    type="hidden" pattern="[0-9]*" value=""
                                                                    placeholder="MM" size="2" maxlength="2"
                                                                    name="BIRTHDAY[month]"
                                                                    id="mce-BIRTHDAY-month">
                                                        <input
                                                                    type="hidden" pattern="[0-9]*" value=""
                                                                    placeholder="DD" size="2" maxlength="2"
                                                                    name="BIRTHDAY[day]" id="mce-BIRTHDAY-day">
                                                        <input
                                                                    type="hidden" pattern="[0-9]*" value=""
                                                                    placeholder="YYYY" size="4" maxlength="4"
                                                                    name="BIRTHDAY[year]" id="mce-BIRTHDAY-year">

                                                    </div>
                                                </div>
                                                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                                    <input type="text" name="b_3be44795906ae5215df909e73_694618b472"
                                                           tabindex="-1" value="">
                                                </div>
                                                <div class="form__row">
                                                    <button type="submit" value="Subscribe" name="subscribe"
                                                            id="mc-embedded-subscribe"
                                                            class="btn btn--outline btn--md ">
                                                    <span class="btn__text">
                                                        {% if section.settings.newsletter_modal_btn!='' %}{{ section.settings.newsletter_modal_btn }}{% else %} SUBSCRIBE{% endif %}
                                                    </span>
                                                        <span class="btn__loader"></span>
                                                    </button>
                                                </div>
                                            </form>
                                            <div class="newsletter__bottom">
                                                {% if section.settings.newsletter_modal_bottom!='' %}{{ section.settings.newsletter_modal_bottom }}{% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if section.settings.show_coordinates %}
                    <div class="footer__block footer__block--coordinates block-coordinates"
                         data-section-type="coordinates-block">
                        {% if section.settings.coordinates_lat and section.settings.coordinates_lng %}
                            <p>We Are Here: <span class="block-coordinates__value"><a
                                            href="https://www.google.com/maps/@{{ section.settings.coordinates_lat }},{{ section.settings.coordinates_lng }},17z"
                                            target="_blank"><span
                                                class="lat">{{ section.settings.coordinates_lat }}</span>˚N, <span
                                                class="lng">{{ section.settings.coordinates_lng }}</span>˚W</span></a>
                            </p>
                        {% endif %}
                        <p class="js--user-coords hide">You Are Here: <span class="block-coordinates__value"><a
                                        class="js--dir-link"
                                        href="https://www.google.com/maps/dir/USER_LAT,USER_LNG/{{ section.settings.coordinates_lat }},{{ section.settings.coordinates_lng }}"
                                        target="_blank"><span class="lat"></span>˚N, <span
                                            class="lng"></span>˚W</span></a></p>
                    </div>
                {% endif %}
            </div>
        {% endif %}
        {% if section.blocks.size > 0 %}
            <div class="footer__col">
                <div class="footer__block footer__block--menus">
                    {% for block in section.blocks %}

                        {% if block.settings.menu == blank %}
                            {% continue %}
                        {% endif %}

                        <nav class="nav footer-nav">
                            <ul class="footer-nav__list nav__list">
                                {%- for link in linklists[block.settings.menu].links -%}
                                    <li class="nav__item">
                                        <a class="nav__link" href="{{ link.url }}"
                                           title="{{ link.title | escape }}">{{ link.title | escape }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </nav>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <div class="footer__col">
            {%- if social_icons -%}
                <div class="footer__block footer__block--social">
                    <ul class="list--inline footer__social-icons social-icons">
                        {%- if settings.social_instagram_link != blank -%}
                            <li>
                                <a class="social-icons__link" href="{{ settings.social_instagram_link | escape }}"
                                   target="_blank" title="Instagram">
                                    {%- include 'icon-instagram' -%}
                                </a>
                            </li>
                        {%- endif -%}
                        {%- if settings.social_facebook_link != blank -%}
                            <li>
                                <a class="social-icons__link" href="{{ settings.social_facebook_link | escape }}"
                                   target="_blank" title="Facebook">
                                    {%- include 'icon-facebook' -%}
                                </a>
                            </li>
                        {%- endif -%}
                    </ul>
                    <div class="footer__block footer__block--deco">{% include 'icon-deco' %}</div>
                </div>
            {%- endif -%}
            {% if section.settings.about_us != blank %}
                <div class="footer__block footer__block--about">
                    {{ section.settings.about_us }}
                </div>
            {% endif %}
            {% if section.settings.show_payment_icons %}
                {% unless shop.enabled_payment_types == empty %}
                    <div class="footer__block footer__block--payment-icons">
                        <div class="footer__payment-icons">
                            <ul class="payment-icons list--inline">
                                {% for type in shop.enabled_payment_types %}
                                    <li class="payment-icon">
                                        {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endunless %}
            {% endif %}
        </div>
        <div class="footer__col">
            {% include 'icon-logo-large' %}
        </div>
    </div>
    <div class="footer__copyright copyright">
        <div class="container">
            <p class="copyright__text">{{ section.settings.copyright }}&nbsp;</p>
            {% if section.settings.copyright_menu != blank %}
                <ul class="list--inline copyright__menu">
                    {%- for link in linklists[section.settings.copyright_menu].links -%}
                        <li class="copyright__menu__item">
                            <a class="copyright__menu__link" href="{{ link.url }}"
                               title="{{ link.title | escape }}">{{ link.title | escape }}</a>
                        </li>
                        {% unless forloop.last %}
                            <li>&nbsp;|&nbsp;</li>
                        {% endunless %}
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</footer>

{% schema %}
    {
    "name": {
    "en": "Footer"
    },
    "max_blocks": 2,
    "settings": [
    {
    "type": "header",
    "content": {
    "en": "Newsletter"
    }
    },
    {
    "type": "checkbox",
    "id": "show_newsletter",
    "label": {
    "en": "Show newsletter block"
    },
    "default": false
    },
    {
    "type": "richtext",
    "id": "newsletter_title",
    "label": {
    "en": "Block title"
    }
    },
    {
    "type": "text",
    "id": "newsletter_btn",
    "label": {
    "en": "Button text"
    }
    },
    {
    "type": "text",
    "id": "newsletter_modal_title",
    "label": {
    "en": "Popup title"
    }
    },
    {
    "type": "richtext",
    "id": "newsletter_modal_text",
    "label": {
    "en": "Popup text"
    }
    },
    {
    "type": "text",
    "id": "newsletter_modal_btn",
    "label": {
    "en": "Popup button text"
    }
    },
    {
    "type": "text",
    "id": "newsletter_modal_bottom",
    "label": {
    "en": "Popup bottom text"
    }
    },
    {
    "type": "checkbox",
    "id": "show_newsletter_image",
    "label": {
    "en": "Show image"
    },
    "default": true
    },

    {
    "type": "image_picker",
    "id": "newsletter_image",
    "label": {
    "en": "Popup image"
    }},
    {
    "type": "image_picker",
    "id": "newsletter_image_mobile",
    "label": {
    "en": "Mobile popup image"
    }},
    {
    "type": "header",
    "content": {
    "en": "Coordinates"
    }
    },
    {
    "type": "checkbox",
    "id": "show_coordinates",
    "label": {
    "en": "Show coordinates block"
    },
    "default": false
    },
    {
    "type": "text",
    "id": "coordinates_lat",
    "label": {
    "en": "Latitude"
    }
    },
    {
    "type": "text",
    "id": "coordinates_lng",
    "label": {
    "en": "Longitude"
    }
    },

    {
    "type": "header",
    "content": {
    "en": "Payment methods"
    }
    },
    {
    "type": "checkbox",
    "id": "show_payment_icons",
    "label": {
    "en": "Show payment icons"
    },
    "default": false
    },

    {
    "type": "header",
    "content": {
    "en": "About Us"
    }
    },
    {
    "type": "richtext",
    "id": "about_us",
    "label": {
    "en": "Text"
    }
    },

    {
    "type": "header",
    "content": {
    "en": "Copyright"
    }
    },
    {
    "type": "text",
    "id": "copyright",
    "label": {
    "en": "Text"
    }
    },
    {
    "type": "link_list",
    "id": "copyright_menu",
    "label": {
    "en": "Menu"
    }
    }
    ],
    "blocks": [
    {
    "type": "link_list",
    "name": {
    "en": "Menu"
    },
    "settings": [
    {
    "type": "link_list",
    "id": "menu",
    "label": {
    "en": "Menu"
    },
    "default": "footer"
    }
    ]
    }
    ]
    }
{% endschema %}
