
<div id="hero-{{ section.id }}" class="hero__inner is-section-sticky" data-section-type="hero" data-section-id="{{ section.id }}">
  {% for block in section.blocks %}
    {% if block.settings.image == blank %}
      {% continue %}
    {% endif %}
    {%- assign has_mobile_image = false -%}

    {% if block.settings.image_mobile != blank %}
      {%- assign has_mobile_image = true -%}
    {% endif %}

    <div class="hero__slide" {{ block.shopify_attributes }}>
      {% if block.settings.link != blank %}
        <a href="{{ block.settings.link }}" class="hero__link--full"></a>
      {% endif %}
      <div class="hero__image lazyload"
        {% if block.settings.image %}
        data-bgset="{% include 'bgset', image: block.settings.image %}"
        data-sizes="auto"
        data-parent-fit="cover"
        style="background-image: url('{{ block.settings.image | img_url: '300x300' }});"
        {% endif %}>
      </div>

      {% if block.settings.title != blank or block.settings.subtitle != blank or block.settings.link_text %}
        <div class="hero__content hero__content--{{ block.settings.alignment }} animated-block">
          <div class="container">
            {% if block.settings.title != blank %}
              <h3 class="hero__title">{{ block.settings.title }}</h3>
            {% endif %}
            {% if block.settings.subtitle != blank %}
              <h4 class="hero__subtitle">{{ block.settings.subtitle }}</h4>
            {% endif %}
            {% if block.settings.link_text != blank %}
              <a href="{{ block.settings.link }}" class="hero__link"><span class="hero__link-text hero__link-text--md">{{ block.settings.link_text }}</span><span class="hero__link-text hero__link-text--sm">{{ block.settings.link_text_sm }}</span></a>
            {% endif %}
          </div>
        </div>
      {% endif %}
    </div>
  {% endfor %}
</div>
{% schema %}
{
  "name": {
    "en": "Hero slider"
  },
  "class": "hero",
  "settings": [
  ],
  "blocks": [
    {
      "type": "image",
      "name": {
        "en": "slide"
      },
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": {
            "en": "Image (desktop)"
          }
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": {
            "en": "Image (mobile)"
          }
        },
        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "text",
          "id": "title",
          "label": {
            "en": "Title"
          }
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": {
            "en": "Subtitle"
          }
        },
        {
          "type": "url",
          "id": "link",
          "label": {
            "en": "Link"
          }
        },
        {
          "type": "text",
          "id": "link_text",
          "label": {
            "en": "Link text"
          }
        },  {
        "type": "text",
        "id": "link_text_sm",
        "label": {
        "en": "Mobile link text"
        },
        "default": "Shop today"
        },
        {
          "type": "select",
          "id": "alignment",
          "label": {
            "en": "Alignment"
          },
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default":   "center"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Hero slider"
      },
      "category": {
        "en": "Promotional"
      },
      "blocks": [
      ]
    }
  ]
}
{% endschema %}
