{%- assign blog = blogs[section.settings.blog] -%}
<div id="latest-news-{{ section.id }}"
  class="latest-news__inner">
  <div class="latest-news__header section-header animated-block">
    {% if section.settings.title != blank %}
      <h2 class="section-header__title">{{ section.settings.title }}</h2>
    {% endif %}
    {% if section.settings.link_text != blank and section.settings.link != blank %}
      <a class="section-header__link" href="{{ section.settings.link }}" title="{{ section.settings.link_text }}">{{ section.settings.link_text }}</a>
    {% endif %}
  </div>
  <div class="container">
    <div class="row ">
      {% unless blog.articles_count == 0 %}
        {% for article in blog.articles limit: 6 %}
          <div class="article-card animated-block col-lg-2 {% if forloop.index == 1 %}  col-12  col-md-12 {% else %} col-6   col-md-6{% endif %}">
            {% if article.image %}
                <div id="{{ img_wrapper_id }}" class="article-card__image-wrapper">
                  <div class="article-card__image-container">
                        {% assign image = article.image %}

                      <a class="article-card__image lazyload lazyload" href="{{ article.url }}"
                         data-bgset="{% include 'bgset', image: image %}"
                         data-sizes="auto"
                         data-parent-fit="cover"
                         style="background-image: url({{ image  | img_url: '100x100' }});">
                      </a>
                  </div>
                </div>
                <div class="article-card__content">
                  <h3 class="article-card__title">
                    <a href="{{ article.url }}" title="{{ article.title | escape }}">
                      {{ article.title }}
                    </a>
                  </h3>
                  <p class="article-card__excerpt">
                    <a href="{{ article.url }}" title="{{ article.title | escape }}">
                      {{ article.excerpt_or_content | split: '</p>' | first | strip_html | split: '. ' | first | truncatewords: 10, '' }}
                    </a>
                  </p>
                </div>
              {% endif %}

          </div>
        {% endfor %}
      {% endunless %}
    </div>
  </div>
</div>
{% schema %}
{
  "name": {
    "en": "Latest News"
  },
  "class": "latest-news",
  "settings": [
    {
      "content": "Section header",
      "type": "header"
    },
    {
      "id": "title",
      "label": "Title",
      "type": "text"
    },
    {
      "id": "link_text",
      "label": "Link text",
      "type": "text"
    },
    {
      "id": "link",
      "label": "Link URL",
      "type": "url"
    },
    {
      "id": "blog",
      "label": "Blog",
      "type": "blog"
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Latest News"
      },
      "category": {
        "en": "Blog"
      }
    }
  ]
}
{% endschema %}
