<div class="block_menu-content-blog" data-section-id="{{ section.id }}">
    {% if section.settings.menu_blog_title!='' %}
        <h4 class="site-nav__link site-nav__childlist-heading">
            {% if section.settings.menu_blog_url %}
                <a  href="{{ section.settings.menu_blog_url }}"><span class="site-nav__label">{{  section.settings.menu_blog_title}}</span> {% include 'icon-nav-arrow' %}</a>
            {% else %}
            <span class="site-nav__label">{{  section.settings.menu_blog_title}}</span> {% include 'icon-nav-arrow' %}
            {% endif %}

        </h4>
    {% endif %}
    <div class="row">
        <div class="col-12 col-lg-6">
            {% for block in section.blocks %}
            <div class="post-card  post-card--menu {% if forloop.index>1 %} post-card--menu-half{% endif %}">
                {% if block.settings.img %}
                    {% if block.settings.url  %}
                        <a class="post-card__image-wrapper" href="{{ block.settings.url }}">
                    {% endif %}
                    {{ block.settings.img | img_url: '351x202', crop: 'center' | img_tag: block.settings.title }}
                    {% if block.settings.url  %}
                        </a>
                    {% endif %}
                {% endif %}
                <div class="post-card__content-wrapper">
                {% if block.settings.title != '' %}
                    <h2 class="post-card__title">
                        {% if block.settings.url  %}
                        <a href="{{ block.settings.url }}">
                            {% endif %}
                            {{ block.settings.title }}
                            {% if block.settings.url  %}
                        </a>
                        {% endif %}
                    </h2>
                {% endif %}
                {% if block.settings.text != '' %}
                    <div class="post-card__content">
                        {{ block.settings.text }}
                    </div>
                {% endif %}
                </div>
            </div>
            {% if forloop.index ==1 %}
        </div>
        <div class="col-12 col-lg-6">
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% schema %}
    {
    "name": {
    "en": "Content menu blog"
    },
    "settings": [
    {
    "type": "text",
    "id": "menu_blog_title",
    "label":"Title",
    "default":"BLOG"
    },{
    "type": "url",
    "id": "menu_blog_url",
    "label":"Url"
    }
    ],
    "blocks": [
    {
    "type": "menu_blog_article",
    "name": "Article",
    "settings": [
    {
    "type": "image_picker",
    "id": "img",
    "label": "Image"
    },
    {
    "type": "text",
    "id": "title",
    "label":  "Title"
    },
    {
    "type": "url",
    "id": "url",
    "label":"Url"
    },
    {
    "type": "richtext",
    "id": "text",
    "label":  "Text"
    }
    ]
    }
    ]
    }
{% endschema %}
