{%- assign blog = blogs[section.settings.blog] -%}
<div id="rich-text-{{ section.id }}"
  class="rich-text__inner">
  <div class="rich-text__header section-header">
    {% if section.settings.title != blank %}
      <h2 class="section-header__title">{{ section.settings.title }}</h2>
    {% endif %}
    {% if section.settings.link_text != blank and section.settings.link != blank %}
      <a class="section-header__link" href="{{ section.settings.link }}" title="{{ section.settings.link_text }}">{{ section.settings.link_text }}</a>
    {% endif %}
  </div>
  <div class="container">
    <div class="rich-text__content">
      {% if section.settings.text_title != blank %}
        <h2 class="rich-text__content-title">{{ section.settings.text_title }}</h2>
      {% endif %}
      <div class="rich-text__content-text">
        {{ section.settings.text_content }}
      </div>
    </div>
    {% if section.blocks.size > 0 %}
      <div class="rich-text__images rich-text__images--size-{{ section.blocks.size }}">
        {% for block in section.blocks %}
          {% if section.blocks.size == 4 and forloop.index == 3 %}
            <div class="rich-text__image-col">
          {% endif %}
          <div class="rich-text__image-container">
            <div class="rich-text__image full--sized lazyload"
              {% if block.settings.image %}
              data-bgset="{% include 'bgset', image: block.settings.image %}"
              data-sizes="auto"
              data-parent-fit="cover"
              style="background-image: url('{{ block.settings.image | img_url: '300x300' }});"
              {% endif %}>
            </div>
          </div>
          {% if section.blocks.size == 4 and forloop.last %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>
{% schema %}
{
  "name": {
    "en": "Rich text"
  },
  "class": "rich-text",
  "max_blocks": 4,
  "settings": [
    {
      "content": "Section header",
      "type": "header"
    },
    {
      "id": "title",
      "label": "Title",
      "type": "text"
    },
    {
      "id": "link_text",
      "label": "Link text",
      "type": "text"
    },
    {
      "id": "link",
      "label": "Link URL",
      "type": "url"
    },
    {
      "content": "Rich text",
      "type": "header"
    },
    {
      "id": "text_title",
      "label": "Title",
      "type": "text"
    },
    {
      "id": "text_content",
      "label": "Content",
      "type": "richtext"
    }
  ],
  "blocks": [
    {
      "type": "image_picker",
      "name": "image",
      "settings": [
        {
          "id": "image",
          "label": "Image",
          "type": "image_picker"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Rich text"
      },
      "category": {
        "en": "Promotional"
      }
    }
  ]
}
{% endschema %}
