{% schema %}
    {
    "name": {
    "en": "Third section"
    },
    "settings": [
    {
    "id": "sustainability_3_title_top",
    "label": "Top title text",
    "type": "text",
    "default":"IT IS OUR"
    },

    {
    "id": "sustainability_3_title_bottom",
    "label": "Bottom title text",
    "type": "text",
    "default":"MISSION"
    },
    {
    "id": "sustainability_3_text",
    "label": "Text",
    "type": "richtext"
    },
    {
    "type": "image_picker",
    "id": "sustainability_3_img",
    "label": "Image"
    }
    ]
    }
{% endschema %}
<div class="sustainability-section sustainability-section--second" data-section-type="sustainability-section--second"
     data-section-id="{{ section.id }}">
    <div class="container">
        <h2 class="sustainability-section__title">
            {% if section.settings.sustainability_3_title_top != '' %}
                <span class="sustainability-section__title-text sustainability-section__title-text--top">{{ section.settings.sustainability_3_title_top }}</span>
            {% endif %}
            {% if section.settings.sustainability_3_title_bottom != '' %}
                <span class="sustainability-section__title-text sustainability-section__title-text--bottom">{{ section.settings.sustainability_3_title_bottom }}</span>
            {% endif %}
        </h2>
        {% if section.settings.sustainability_3_text != '' %}
            <div class="sustainability-section__content">
                {{ section.settings.sustainability_3_text }}
            </div>
        {% endif %}
        {% if section.settings.sustainability_3_img  %}
            <div class="sustainability-section__image-wrapper">
                <img class="sustainability-section__image"
                     src="{{ section.settings.sustainability_3_img | img_url: 'origin' }}" alt="">
            </div>
        {% endif %}
    </div>
</div>