{% schema %}
    {
    "name": {
    "en": "Sixth section"
    },
    "settings": [
    {
    "id": "sustainability_6_title_top",
    "label": "Top text",
    "type": "text",
    "default":"HOVER FOR MORE"
    }],
    "blocks": [
    {
    "type": "sustainability_6_text",
    "name": "Text",
    "settings": [
    {
    "type": "text",
    "id": "title",
    "label": "Text"
    },
    {
    "type": "image_picker",
    "id": "image",
    "label": "Image"
    },
    {
    "type": "richtext",
    "id": "text",
    "label": "Description"
    }
    ]
    }
    ]
    }
{% endschema %}
<div class="sustainability-section sustainability-section--sixth" data-section-type="sustainability-section--sixth" id="sustainability-section--sixth"
     data-section-id="{{ section.id }}">
    <div class="container">
        {% if section.settings.sustainability_6_title_top != '' %}
            <div class="sustainability-section__sub-title">
                <span>{{ section.settings.sustainability_6_title_top }}</span>
            </div>
        {% endif %}
        {% if section.blocks.size %}
            <div class="sustainability-section__title h2">
                {% for block in section.blocks %}
                    <div class="sustainability-section__text ">{{ block.settings.title }}
                        {% if block.settings.image %}
                            <div class="sustainability-section__hover">
                                <img class=" lazyload"
                                     src="{{ block.settings.image | img_url:  '422x' }}"
                                     data-src="{{ block.settings.image  | img_url: '422x' }}"
                                     data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                                     data-sizes="auto"
                                     alt="{{ block.settings.image.alt | escape }}">

                            </div>
                        {% endif %}
                        {% if block.settings.text %}
                            <div class="sustainability-section__hover-text ">
                                {{ block.settings.text }}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>