{% schema %}
    {
    "name": {
    "en": "Fifth section"
    },
    "settings": [
    {
    "id": "sustainability_5_title_top",
    "label": "Top title text",
    "type": "text",
    "default":"SECURED"
    },

    {
    "id": "sustainability_5_title_bottom",
    "label": "Bottom title text",
    "type": "text",
    "default":"THE BAG"
    },
    {
    "id": "sustainability_5_text",
    "label": "Text",
    "type": "richtext"
    },
    {
    "type": "image_picker",
    "id": "sustainability_5_img",
    "label": "Image"
    }
    ],
    "blocks": [
    {
    "type": "sustainability_5_slide",
    "name": "Slide",
    "settings": [
    {
    "type": "image_picker",
    "id": "image",
    "label": "Background image"
    },
    {
    "type": "color",
    "id": "color",
    "label": "Background color"
    },
    {
    "type": "text",
    "id": "text",
    "label": "Text",
    "default":"WWEAR_GI_001"
    }
    ]
    }
    ]
    }
{% endschema %}
<div class="sustainability-section sustainability-section--fifth" data-section-type="sustainability-section--fifth"
     id="sustainability-section--fifth"
     data-section-id="{{ section.id }}" data-section-index="4">
    <div class="sustainability-section__container-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-5">
                    <div class="sustainability-section__content-wrapper">
                        <h2 class="sustainability-section__title">
                            {% if section.settings.sustainability_5_title_top != '' %}
                                <span class="sustainability-section__title-text sustainability-section__title-text--top">{{ section.settings.sustainability_5_title_top }}</span>
                            {% endif %}
                            {% if section.settings.sustainability_5_title_bottom != '' %}
                                <span class="sustainability-section__title-text sustainability-section__title-text--bottom">{{ section.settings.sustainability_5_title_bottom }}</span>
                            {% endif %}
                        </h2>
                        {% if section.settings.sustainability_5_text != '' %}
                            <div class="sustainability-section__content">
                                {{ section.settings.sustainability_5_text }}
                            </div>
                        {% endif %}
                        {% if section.settings.sustainability_5_img %}
                            <div class="sustainability-section__image-wrapper">
                                <img class="sustainability-section__image"
                                     src="{{ section.settings.sustainability_5_img | img_url: 'master' }}" alt="">
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="col-12 col-lg-7">
                    {% if section.blocks.size %}
                        <div class="block-slider  js-block-slider">
                            {% for block in section.blocks %}
                                <div class="block-slider__item js-block-slider__item {% if  block.settings.color != '' %} block-slider__item--with-color {% endif %}"
                                     data-text="{{ block.settings.text }}">

                                    <div class="block-slider__item-bg lazyload  {% unless block.settings.image %} block-slider__item--no-image {% endunless %}"
                                            {% if block.settings.image %}
                                                data-bgset="{% include 'bgset2', image: block.settings.image %}"
                                                data-sizes="auto"
                                                style="background-image: url({{ block.settings.image  | img_url: '720x' }}); background-color: {{ block.settings.color }}"
                                            {% else %}
                                                style="background-color: {{ block.settings.color }}"
                                            {% endif %}
                                    >
                                    </div>
                                    {% if block.settings.text !='' %}
                                        <div class="block-slider__item-title">
                                            {{ block.settings.text }}
                                        </div>
                                        <div class="block-slider__item-text">
                                            {{ block.settings.text }}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}

                    <a href="#sustainability-section--sixth" class="js-sustainability-go-to sustainability-section__next">
                        {% include 'icon-go-next' %}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>