<div id="vendor-{{ section.id }}"
     class="vendor-block"
     data-section-type="vendor-block"
     data-section-id="{{ section.id }}">
    {% assign productVendor = product.vendor | downcase %}

    <div class="container">
        <div class="row">
            {% for block in section.blocks %}

                {% assign vendor = block.settings.title | downcase %}
                {% if vendor == productVendor %}
                    <div class="col-12 col-lg-6">
                        <h2 class="vendor-block__title animated-block">{{ block.settings.title }}</h2>
                        {% if block.settings.subtitle!='' %}
                            <div class="vendor-block__subtitle animated-block">{{ block.settings.subtitle }}</div>
                        {% endif %}
                        {% if block.settings.text!='' %}
                            <div class="vendor-block__content animated-block rte">{{ block.settings.text }}</div>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
            {% assign countImages = 0 %}
          
          {% unless product.handle == 'test-blanket-shirt-2' %}
            {% if product.images.size > 1 %}
              {% assign vendorImages=product.images| reverse %}
              {% for image in vendorImages %}
                  {% if  countImages <3 %}
                      {% assign countImages = countImages | plus: 1 %}
                      <div class="col-12 col-lg-6 vendor-block__col vendor-block__col--image animated-block">
                          <div class="vendor-block__image-wrapper ">
                              <div class="vendor-block__image   full--sized lazyload"
                                  data-bgset="{% include 'bgset', image: image %}"
                                  data-sizes="auto"
                                  data-parent-fit="cover"
                                  style="background-image: url({{ image| img_url: '300x300' }});">
                              </div>
                          </div>
                      </div>
                  {% endif %}
              {% endfor %}
            {% endif %}
          {% else %}
          
            {% assign featured_varimage = product.selected_or_first_available_variant.featured_image %}          
            {% assign featured_alt = product.selected_or_first_available_variant.option1 %}
            {% assign pTitle = product.title %}

              {% for image in product.images %}
                  {% if image.alt == featured_alt or image.alt == pTitle %}
                {% if image != featured_varimage %}
                  <div class="col-12 col-lg-6 vendor-block__col vendor-block__col--image animated-block">
                          <div class="vendor-block__image-wrapper ">
                              <div class="vendor-block__image   full--sized lazyload"
                                  data-bgset="{% include 'bgset', image: image %}"
                                  data-sizes="auto"
                                  data-parent-fit="cover"
                                  style="background-image: url({{ image| img_url: '1024x1024' }});">
                              </div>
                          </div>
                      </div>

                      {% assign countImages = countImages | plus: 1 %}
                {% endif %}
                  {% endif %}
              {% endfor %}             

          {% endunless %}
        </div>
    </div>
</div>
{% schema %}
    {
    "name": "Vendors",
    "blocks": [
    {
    "type": "vendor_block",
    "name": "Vendor",
    "settings": [
    {
    "type": "text",
    "id": "title",
    "label":  "Name"
    }, {
    "type": "text",
    "id": "subtitle",
    "label":  "Subtitle"
    },
    {
    "type": "richtext",
    "id": "text",
    "label":  "Description"
    }
    ]
    }
    ]
    }
{% endschema %}